<div class="container login">
    <div>
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="form">
            <form action="/login" method="post">
                <div class="input">
                    <label for="cpf"><strong>Seu CPF</strong></label>
                    <input type="text" placeholder="XXX.XXX.XXX-XX" name="cpf" id="cpf" required>
                </div>
                <div class="input">
                    <label for="senha"><strong>Sua senha</strong></label>
                    <input type="password" name="password" id="password" placeholder="1234" required>
                </div>
                <div class="input separator">
                    <div class="horizontal"></div>
                    <div class="vertical"></div>
                    <div class="vertical"></div>
                    <div class="horizontal"></div>
                </div>
                <div class="input">
                    <input type="submit" value="Fazer login">
                </div>
            </form>
        </div>
    </div>
</div>