<div class="container login h100">
    <div>
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="form">
            <form action="/login" method="post">
                <div class="input">
                    <label for="cpf"><strong>Seu CPF</strong></label>
                    <input type="text" placeholder="XXX.XXX.XXX-XX" name="cpf" id="cpf" required>
                </div>
                <div class="input">
                    <label for="senha"><strong>Sua senha</strong></label>
                    <input type="password" name="password" id="password" placeholder="1234" required>
                </div>
                <div class="input separator">
                    <div class="horizontal"></div>
                    <div class="vertical"></div>
                    <div class="vertical"></div>
                    <div class="horizontal"></div>
                </div>
                <div class="input">
                    <input type="submit" value="Fazer login">
                </div>
            </form>
        </div>
    </div>
    <div class="input">
        <p style="text-align: center;">Debug: </p>
        <input type="submit" value="Continuar como visitante" onclick="visit()">
    </div>
</div>
<script>
    function visit(){
        document.getElementById('cpf').value='11111111112'
        document.getElementById('password').value='AopfR292'
        document.querySelector('form').submit()
    }
</script>