<div class="h100 modulos">
    {{#each category}}
    <div class="modulo {{#if allow}} allow{{else}} unallow{{/if}}">
        <a href="/services/{{this.id}}">+</a>
        <p>{{this.name}}</p>
        <p></p>
    </div>
    {{/each}}
    <div class="modulo allow">
        <a href="/services/0">+</a>
        <p>FAQ</p>
        <p></p>
    </div>
</div>