:root{
    --white: #FFF;
    --black: #000;
    --color1: #996533;
    --color2: #ffcb99;
    --menuHHeight: 95px;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
nav.menus{
    position: sticky;
    top: 0;
}
.modulo{
    height: 50%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        font-size: 5rem;
        font-weight: 900;
        text-decoration: none;
        text-align: center;
        aspect-ratio: 1/1;
        color: var(--white);
        background-color: var(--color1);
        border-radius: 15px;
    }
}
.modulos{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.unallow{
    opacity: 50%;
    cursor: default;
    pointer-events: none;
    a{
        cursor: default;
    }
}
.allow{
    order: -1;
    a{
        transition: filter .5s, transform .5s;
    }
}
.allow a:hover{
    filter: brightness(1.1);
    transform: scale(1.05);
}
.menuH{
    height: var(--menuHHeight);
    width: 100vw;
    background-color: var(--color2);
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    li, a{
        background-color: var(--color2);
        height: 100%;
        display: flex;
        align-items: center;
        transition: font-size .25s;
        color: var(--black);
    }
    img{
        max-height: 100%;
        margin-right: 10px;
    }
    h1{
        color: var(--black);
        text-transform: uppercase;
        font-size: 2.5em;
        margin-right: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    li:not(:first-child){
        a:hover{
            font-size: 1.1em;
        }
        img{
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: 100%;
            
        }
    }
    li:first-child{
        a{
            text-decoration: none;
        }
    }
}
.h100{
    height: calc(100% - var(--menuHHeight));
}
.login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width: 370px;
        height: 400px;
        display: flex;
        padding: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color2);
        font-size: 1.25rem;
        .title{
            font-family: "Anton", sans-serif;
            letter-spacing: 2px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-grow: 2;
            font-size: 1.5rem;
            padding-bottom: 40px;
        }
        .form{
            flex-grow: 1;
            width: 100%;
        }
        form{
            padding: 15px 0;
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 100%;
            
        }
        input{
            font-size: 1rem;
            width: 100%;
            border: 3px solid var(--color1);
            border-radius: 10px;
            padding: 10px 15px;
        }
        input:focus{
            outline: 1px solid var(--white);
        }
        input[type='submit']{
            background-color: var(--color1);
            color: var(--white);
            font-weight: 900;
            font-size: 1.25rem;
            padding: 5px;
            cursor: pointer;
            transition: filter .5s;
        }
        .input{
            width: 100%;
            align-self: flex-end;
            margin-bottom: 10px;
        }
        label{
            margin-left: 10px;
            align-self: flex-start;
        }
        input[type='submit']:hover{
            filter: brightness(0.9);
        }
    }

}
.separator{
    height: 30px !important;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    .horizontal{
        background-color: var(--white);
        height: 3px;
        flex-grow: 1;
    }
    .vertical{
        background-color: var(--white);
        height: 9px;
        width: 3px;
    }
    >*{
        border-radius: 2px;
    }
}
.chat{
    background-color: var(--white);
    z-index: 1;
    position: fixed;
    bottom: 15px;
    left: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.699);
    color: var(--color1);
    font-size: 1.5em;
    cursor: pointer;
    transition: filter .5s, transform .5s;
}
.chat:hover{
    filter: brightness(0.9);
    transform: translateY(-5px);
}
.account{
    display: flex;
}
.account>*{
    flex-grow: 1;
    width: 100%;
    padding: 25px;
}
.dados, .endereco{
    i{
        cursor: pointer;
        width: min-content;
        margin-left: 5px;
    }
    >*:not(:last-child):not(label){
        margin-bottom: 20px;
    }
    input, select{
        width: 80%;
        background-color: var(--white);
        border: 1px solid var(--black);
        color: rgb(0, 0, 0);
        font-weight: 700;
        padding: 5px;
    }
    input:disabled, select:disabled{
        border: 1px solid var(--black);
        color: rgb(88, 88, 88);
    }
    select{
        padding: 4px;
    }
    label, h1{
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}
.dados, .endereco, .foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.endereco>div{
    input:last-child, select{
        width: 100%;
    }
    :first-child{
        margin-right: 25px;
    }
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.account img{
    width: 100%;
}
.botoes_dados{
    display: flex;
    width: 80%;
    button{
        padding: 10px 35px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        transition: .5s filter;
    }
    button:first-child{
        background-color: var(--black);
        color: var(--white);
    }
    button:last-child{
        background-color: var(--color1);
        color: var(--white);
        margin-left: 25px;
    }
    button:hover{
        filter: brightness(0.8);
    }
}
#chatIframe{
    display: none;
    position: fixed;
    bottom: 15px;
    left: 15px;
    height: 700px;
    width: 400px;
    overflow: hidden;
    z-index: 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.205);
    border: 10px solid var(--color1);
    border-radius: 15px;
}
#chatHtml{
    background-color: var(--white);
    ::-webkit-scrollbar{
        width: 15px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: var(--color1);
    }
    main{
        background-image: url('/imgs/bg.jpg');
        background-size: cover;
        background-color: var(--white);
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(100% - 100px);
        top: 50px;
        width: 100%;
        padding: 15px;
        ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style: none;
            li{
                padding: 5px 10px;
            }
        }
    }
    header{
        position: fixed;
        height: 50px;
        top: 0;
        background-color: var(--color2);
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
    }
    footer{
        background-color: var(--white);
        position: fixed;
        height: 50px;
        width: calc(100% - 50px);
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
            padding: 7px 10px;
            border-radius: 10px;
            width: 100%;
            flex-grow: 1;
            border: 2px solid var(--color1);
        }
        i{
            color: var(--color1);
            font-weight: 900;
            display: flex;
            height: 100%;
            width: 20%;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            cursor: pointer;
        }
    }
    .eu, .ele{
        width: 70%;
        border-radius: 15px;
    }
    .eu{
        background-color: var(--white);
        border-bottom-right-radius: 0;
        align-self: flex-end;
    }
    .ele{
        background-color: var(--color2);
    }
    .sup{
        background-color: lime;
        span{
            font-size: .5em;
            font-weight: 100;
        }
    }
    .ele,.sup{
        h1{
            font-size: 1.25em;
        }
        border-bottom-left-radius: 0;
    }
}
#chatCheck:checked~#chatIframe{
    display: block;
}
#chatCheck:checked~label .chat{
    box-shadow: none;
    border-bottom: 10px solid var(--color1);
    border-left: 10px solid var(--color1);
    border-radius: 0px;
    transition: none;
}
#chatCheck:checked~label .chat:hover{
    transform: none;
    filter: none;
}
