:root{
    --white: #FFF;
    --black: #000;
    --color1: #996533;
    --color2: #ffcb99;
    --menuHHeight: 5.9375rem;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
nav.menus{
    position: sticky;
    top: 0;
}
.modulo{
    height: 50%;
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7.5rem;
        height: 7.5rem;
        font-size: 80px;
        font-weight: 900;
        text-decoration: none;
        text-align: center;
        aspect-ratio: 1/1;
        color: var(--white);
        background-color: var(--color1);
        border-radius: .9375rem;
    }
}
.modulos{
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.unallow{
    opacity: 50%;
    cursor: default;
    pointer-events: none;
    a{
        cursor: default;
    }
}
.allow{
    order: -1;
    a{
        transition: filter .5s, transform .5s;
    }
}
.allow a:hover{
    filter: brightness(1.1);
    transform: scale(1.05);
}
.menuH{
    height: var(--menuHHeight);
    width: 100vw;
    background-color: var(--color2);
    padding: .9375rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    list-style: none;
    gap: .9375rem;
    li, a{
        background-color: var(--color2);
        height: 100%;
        display: flex;
        align-items: center;
        transition: font-size .25s;
        color: var(--black);
    }
    img{
        max-height: 100%;
        margin-right: .625rem;
    }
    h1{
        color: var(--black);
        text-transform: uppercase;
        font-size: 2.5em;
        margin-right: .9375rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    li:not(:first-child){
        a:hover{
            font-size: 1.1em;
        }
        img{
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: 100%;
            
        }
    }
    li:first-child{
        a{
            text-decoration: none;
        }
    }
}
.h100{
    height: calc(100% - var(--menuHHeight));
}
.login{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    >div{
        width: 23.125rem;
        height: 25rem;
        display: flex;
        padding: 2.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color2);
        font-size: 20px;
        .title{
            font-family: "Anton", sans-serif;
            letter-spacing: .125rem;
            display: flex;
            align-items: center;
            text-align: center;
            flex-grow: 2;
            font-size: 24px;
            padding-bottom: 2.5rem;
        }
        .form{
            flex-grow: 1;
            width: 100%;
        }
        form{
            padding: .9375rem 0;
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 100%;
            
        }
        input{
            font-size: 16px;
            width: 100%;
            border: .1875rem solid var(--color1);
            border-radius: .625rem;
            padding: .625rem .9375rem;
        }
        input:focus{
            outline: .0625rem solid var(--white);
        }
        input[type='submit']{
            background-color: var(--color1);
            color: var(--white);
            font-weight: 900;
            font-size: 20px;
            padding: .3125rem;
            cursor: pointer;
            transition: filter .5s;
        }
        .input{
            width: 100%;
            align-self: flex-end;
            margin-bottom: .625rem;
        }
        label{
            margin-left: .625rem;
            align-self: flex-start;
        }
        input[type='submit']:hover{
            filter: brightness(0.9);
        }
    }
    >div:last-child{
        height: unset;
        padding-top: .3125rem;
        background-color: var(--white);
    }
}
.separator{
    height: 1.875rem !important;
    display: flex;
    align-items: center;
    gap: .3125rem;
    justify-content: space-between;
    .horizontal{
        background-color: var(--white);
        height: .1875rem;
        flex-grow: 1;
    }
    .vertical{
        background-color: var(--white);
        height: .5625rem;
        width: .1875rem;
    }
    >*{
        border-radius: .125rem;
    }
}
.chat{
    background-color: var(--white);
    z-index: 1;
    position: fixed;
    bottom: .9375rem;
    left: .9375rem;
    height: 3.75rem;
    width: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .9375rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.699);
    color: var(--color1);
    font-size: 1.5em;
    cursor: pointer;
    transition: filter .5s, transform .5s;
}
.chat:hover{
    filter: brightness(0.9);
    transform: translateY(-0.3125rem);
}
.account{
    display: flex;
}
.account>*{
    flex-grow: 1;
    width: 100%;
    padding: 1.5625rem;
}
.dados, .endereco{
    width: 90%;
    i{
        cursor: pointer;
        width: min-content;
        margin-left: .3125rem;
    }
    >*:not(:last-child):not(label){
        margin-bottom: 1.25rem;
    }
    input, select{
        width: 80%;
        background-color: var(--white);
        border: .0625rem solid var(--black);
        color: rgb(0, 0, 0);
        font-weight: 700;
        padding: .3125rem;
    }
    input:disabled, select:disabled{
        border: .0625rem solid var(--black);
        color: rgb(88, 88, 88);
    }
    select{
        padding: .25rem;
    }
    label, h1{
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}
.dados, .endereco, .foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foto{
    width: 90%;
    padding: 5%;
    img{
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        width: 50%;
    }
    label{
        border-bottom-right-radius: 2.5rem;
        background-color: var(--color1);
        color: var(--color2);
        width: 100%;
        padding: .625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i{
            font-size: 2.5em;
        }
        transition: filter .5s;
    }
    label:first-child{
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 2.5rem;
        background-color: var(--color2);
        color: var(--color1);
        
    }
    label:hover{
        filter: brightness(.75);
    }
    >div{
        display: flex;
    }
}
.endereco>div{
    input:last-child, select{
        width: 100%;
    }
    :first-child{
        margin-right: 1.5625rem;
    }
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.account img{
    width: 100%;
}
.botoes_dados{
    display: flex;
    width: 80%;
    #enviar, #vendas{
        padding: .625rem 2.1875rem;
        border-radius: 1.25rem;
        border: none;
        cursor: pointer;
        transition: .5s filter;
    }
    #enviar{
        background-color: var(--black);
        color: var(--white);
    }
    #enviar.nao{
        background-color: red;
    }
    #vendas{
        background-color: var(--color1);
        color: var(--white);
        margin-left: 1.5625rem;
    }
    #vendas.nao{
        background-color: lime;
    }
    #enviar:hover, #vendas:hover{
        filter: brightness(0.8);
    }
}
#chatIframe{
    display: none;
    position: fixed;
    bottom: .9375rem;
    left: .9375rem;
    height: 43.75rem;
    width: 25rem;
    overflow: hidden;
    z-index: 0;
    box-shadow: 0 0 .3125rem .125rem rgba(0, 0, 0, 0.205);
    border: .625rem solid var(--color1);
    border-radius: .9375rem;
}
#chatHtml{
    background-color: var(--white);
    ::-webkit-scrollbar{
        width: .9375rem;
    }
    ::-webkit-scrollbar-thumb{
        background-color: var(--color1);
    }
    main{
        background-image: url('/imgs/bg.jpg');
        background-size: cover;
        background-color: var(--white);
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(100% - 6.25rem);
        top: 3.125rem;
        width: 100%;
        padding: .9375rem;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            list-style: none;
            li{
                padding: .3125rem .625rem;
            }
        }
    }
    header{
        position: fixed;
        height: 3.125rem;
        top: 0;
        background-color: var(--color2);
        width: 100%;
        display: flex;
        align-items: center;
        padding: .9375rem;
    }
    footer{
        background-color: var(--white);
        position: fixed;
        height: 3.125rem;
        width: calc(100% - 3.125rem);
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
            padding: .4375rem .625rem;
            border-radius: .625rem;
            width: 100%;
            flex-grow: 1;
            border: .125rem solid var(--color1);
        }
        i{
            color: var(--color1);
            font-weight: 900;
            display: flex;
            height: 100%;
            width: 20%;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            cursor: pointer;
        }
    }
    .eu, .ele, .sup{
        width: 70%;
        border-radius: .9375rem;
        overflow-wrap: break-word;
    }
    .eu{
        background-color: var(--white);
        border-bottom-right-radius: 0;
        align-self: flex-end;
    }
    .ele{
        background-color: var(--color2);
    }
    .sup{
        background-color: #fff600;
        span{
            font-size: .5em;
            font-weight: 100;
        }
    }
    .ele,.sup{
        h1{
            font-size: 1.25em;
        }
        border-bottom-left-radius: 0;
    }
}
#chatCheck:checked~#chatIframe{
    display: block;
}
#chatCheck:checked~label .chat{
    box-shadow: none;
    border-bottom: .625rem solid var(--color1);
    border-left: .625rem solid var(--color1);
    border-radius: 0rem;
    transition: none;
}
#chatCheck:checked~label .chat:hover{
    transform: none;
    filter: none;
}
.vendas{
    border-collapse: collapse;
    .naotem, tfoot td:first-child, thead td{
        background-color: var(--color2);
        font-weight: 900;
    }

    td{
        border: .1875rem solid var(--black);
        text-align: center;
        padding: .3125rem;
        background-color: var(--white);
    }
}
.vendastabela{
    max-height: 70vh;
    max-width: 78vw;
    overflow: scroll;
    min-width: min-content;
}
.vendadiv{
    font-size: 1.25em;
    gap: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    >*{
        min-width: min-content;
        flex-shrink: 0;
    }
    h1{
        text-align: center;
    }
    .form form{
        max-width: 90vw;
        border: .1875rem solid var(--black);
        padding: 1.25rem;
        position: relative;
        display: flex;
        flex-direction: column;
        p{
            font-weight: 900;
        }
        >div{
            width: 100%;
            display: flex;
            input{
                width: 100%;
                padding: .3125rem;
                border: .1875rem solid var(--black);
                margin-bottom: 2.5rem;
            }
            span{
                padding: .3125rem;
                font-weight: 900;
            }
            margin-top: .3125rem;
            margin-bottom: .3125rem;
        }
        input[type='submit']{
            background-color: var(--black);
            position: absolute;
            width: 5.625rem;
            border: none;
            border-radius: .9375rem;
            color: var(--white);
            height: 1.625rem;
            left: calc(50% - 2.8125rem);
            bottom: -0.8125rem;
            cursor: pointer;
        }
    }
}
#formMassa{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-right: 0rem;
    width: 300%;
}
@media only screen and (max-width: 37.5rem) {
    .menuH{
        width: 100vw;
        font-size: .75rem;
        h1{
            display: none;
        }
    }
    #chatIframe{
        width: 300px;
        height: 500px;
    }
    .account{
        flex-wrap: wrap;
    }
    .account>*{
        flex-wrap: wrap;
    }
    .vendastabela{
        
    }
}
